bot_token: $YOUR_BOT_TOKEN
# socks5: 127.0.0.1:1080
bindmax: 5
goroutine: 20
admin: $YOUR_TELEGRAM_USER_ID
errlimit: 15
notice: |-
  Please contact @andatoshiki for any unexpected errors or unresponsive bot behaviors after running commands, you are also welcomed to conatct me for any issue encountered during individual development process or problems throughout self-hosting, meanwhile it is recommended to refer to the documentation first before you proceed to a question. If you have other questions concerning personal account privacies, please consider to host your own instances of such bot while the project is open sourced. Please also indicate your message of purposes and ask in polite manners if you are unable to find an explicit solution, or your contacts will be immediately blocked and reported as spam, have fun using.
cron: "1 */1 * * *"
# db: sqlite
table: users
# mysql:
#  host: 127.0.0.1
#  port: 3306
#  user: root
#  password: pwd
#  database: e5sub
sqlite:
  db: data.db